:root {
  --modal-footer: 5em;
  --subModalWidth: 95%;
}

.subModal {
  height: calc(100% - var(--modal-footer));
  width: var(--subModalWidth);
  overflow: auto;
}

.modal-header {
  height: 50px;
  align-items: center;
  position: absolute;
  top: 0;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
}

.modal-header select {
  height: 2.5em;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2em;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
  row-gap: 2em;
}

.modal-body img {
  width: 100%;
}

.modal-body img:hover {
  cursor: pointer;
}

@media (min-width: 601px) {
  .modal-body {
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
  }
}

@media (orientation: landscape) {
  :root {
    --subModalWidth: 60%;
  }
}
